*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.estanteria{
    border: 3px solid brown;
    border-radius: 4px;
    height: 90vh;
    width: 500px;
}
.estanteria-fila{
    border-bottom: 3px solid brown;
    height: 10vh;
    display: flex;
}
.estanteria-fila-producto{
    border-right: 3px solid brown;
    height: 10vh;
    width: calc(100% / 5);
}
#prod{
    width: 100%;
    height: auto;
}